@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --preto:#000000;
--branco:#FFFFFF;
}


header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}



body{
    background-color: var(--preto);
    font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 1cm; 
}

body{-webkit-text-stroke-color: antiquewhite;}
/* milan>>>>liverpool */

img{
 width: 10%;
}

#intro{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: black; 
    margin: 1cm;
    
}

.textos{
color: rgb(0, 0, 0);
text-align: center;
background-color: red;
padding: 20px 0;
}

.equipe{  
text-align: center;
}

.Fotos{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: red;

}

.Integrante{
    width: 80%;
}

.bra{
    color: white;
}

.tam{
    width: 100%;
}



