:root{
    --roxo:#3d2f8b;
--branco:#FFFFFF
;
}




body{
    background-color: var(--roxo);
}
body{-webkit-text-stroke-color: antiquewhite;}
/* milan>>>>liverpool */

img{
 width: 10%;
}

#intro{
    display: flex;
    background-color: #FFFFFF;
}